.border {
    width: 100%;
    min-width: 500px;
    overflow-x: hidden;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

/* header */
.header {
    padding: 10px;
    text-align: center;
}

.header span {
    font-family: 'Lucida Handwriting';
    font-size: 3em;
    font-weight: bold;
}

.header span img {
    height: 1.7em;
    vertical-align: middle;
    margin: 0 5px;
}

/* marquee */
.banner {
    margin: 5px 0;
}

/* tool bar */
.tools-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.tools-wrapper .tools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: start;
}

.tools-wrapper .tools .tool {
    align-self: center;
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.tools-wrapper .tools .tool>div {
    margin: 0 5px;
    align-self: center;
}

@media screen and (max-width: 800px) {
    .tools-wrapper .tools {
        flex-direction: column;
        justify-content: flex-start;
    }

    .tools-wrapper .tools .tool {
        align-self: flex-start;
    }
}

.tools-wrapper .help-wrapper {
    align-self: center;
    margin-left: 10px;
}

/* code panel */
.wrapper {
    --panel-min-height: 300px;
    --panel-max-height: 500px;
    --panel-border-radius: 10px;
    --code-font-size: 14px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 10px auto;
}

.wrapper .panel {
    position: relative;
    width: 50%;
    align-self: flex-start;
    min-height: var(--panel-min-height);
    max-height: var(--panel-max-height);
}

@media screen and (max-width: 800px) {
    .wrapper {
        flex-direction: column;
    }

    .wrapper .panel {
        width: 100%;
    }
}

#convert {
    --animate-duration: 1s;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    /* background-color: chocolate; */
    align-self: center;
    cursor: pointer;
    transition: 0.3s;
}

#convert:hover {
    opacity: 80%;
}

#convert i {
    align-self: center;
    font-size: 30px;
}

.wrapper .animate__spin i {
    animation: spin 1s ease 0s forwards;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* input text area */
.wrapper .panel {
    min-height: var(--panel-min-height);
}

.wrapper .panel .code {
    box-sizing: border-box;
    width: 100%;
    min-height: var(--panel-min-height);
    max-height: var(--panel-max-height);
    border-radius: var(--panel-border-radius);
    overflow: hidden;
}

#source {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    border: none;
    padding: 5px;
    font-size: var(--code-font-size);
    border-radius: var(--panel-border-radius);
    z-index: 5;
}

#source:focus {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* override defatul theme */
pre {
    margin: 0 !important;
    background-color: transparent !important;
    max-height: var(--panel-max-height);
    overflow-y: auto;
}

pre code {
    border-radius: var(--panel-border-radius);
}

pre code .token {
    font-size: var(--code-font-size);
}

.panel .cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: var(--panel-min-height);
    border-radius: var(--panel-border-radius);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

/* footer */
.footer {
    width: 100%;
    height: 200px;
    background-color: aqua;
}