/* header */
.border {
    width: 100%;
    min-width: 500px;
    overflow-x: hidden;
}

.header {
    padding: 10px;
    text-align: center;
}

.header span {
    font-family: 'Lucida Handwriting';
    font-size: 3em;
    font-weight: bold;
}

.header span img {
    height: 1.7em;
    vertical-align: middle;
    margin: 0 5px;
}

/* marquee */
.banner {
    margin: 5px 0;
}

/* tool bar */
.tools-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.tools-wrapper .tools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: start;
}

.tools-wrapper .tools .tool {
    align-self: center;
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.tools-wrapper .tools .tool>div {
    margin: 0 5px;
    align-self: center;
}

@media screen and (max-width: 800px) {
    .tools-wrapper .tools {
        flex-direction: column;
        justify-content: flex-start;
    }

    .tools-wrapper .tools .tool {
        align-self: flex-start;
    }
}

.tools-wrapper .help-wrapper {
    align-self: center;
    margin-left: 10px;
}

/* code panel */
.wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 0 auto;
}

.wrapper .panel {
    width: 50%;
    align-self: flex-start;
    height: 400px;
}

@media screen and (max-width: 800px) {
    .wrapper {
        flex-direction: column;
    }

    .wrapper .panel {
        width: 100%;
    }
}

.wrapper .input {
    background-color: lightcoral;
}

.wrapper .output {
    background-color: lightgreen;
}

/* footer */
.footer {
    width: 100%;
    height: 200px;
}