<!DOCTYPE html>
<html lang="en">

<head>
    <title>Code Paste | Syntax Highlight for Office</title>
    <module href="/components/meta.html"></module>
    <module href="/components/head.html"></module>

    <link id="theme" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" />
    <link id="mode-css" rel="stylesheet" href="">

    <module href="/components/statistics.html"></module>
</head>

<body>
    <div class="border">
        <module href="/parts/header.html"></module>
        <hr>
        <module href="/parts/banner.html"></module>
        <hr>
        <module href="/parts/toolbar.html"></module>
        <hr>
        <module href="/parts/panel.html"></module>
        <hr />
        <module href="/parts/docs.html"></module>
        <hr />
        <module href="/parts/footer.html"></module>

        <!-- Extra content -->
        <div id="support" style="display: none;">
            <module href="/components/support.html"></module>
        </div>
        <div id="agreement" style="display: none;">
            <module href="/components/notification.html"></module>
        </div>
    </div>
    <script src="bundle.js"></script>
</body>

</html>