<div class="doc-wrapper doc-align-center">
    <div class="doc-chapter">
        <h1>Why Code Paste?</h1>
        <div class="doc-section">
            <div class="doc-entry">
                <div class="doc-text doc-align-justify">
                    <p class="doc-indent">
                        Adding code snippets to Office documents like Word or PowerPoint could be a challenge,
                        especially when you want to preserve the syntax highlighting. 😢 Furthermore, the typical dark
                        themes of most IDEs doesn't work well for presentations. While converting code into images is an
                        option, it often suffers from non-transparent background, and apparently not as flexible or
                        crystal clear as text. 😖
                    </p>
                    <p class="doc-indent">
                        So, is there a better way to embed highlighted code snippets in these documents? 🤔
                        <b>Absolutely,</b> and that's where Code Paste comes in! 😆 Simply paste your code into the left
                        panel, choose your preferred language and color scheme. With a few clicks, you'll have a
                        beautifully highlighted code snippet ready to go. 😋
                    </p>
                    <p class="doc-indent">
                        Can't find the language you need? 🫨 Well, don't be shy! Open an
                        <a href="https://github.com/Lord-Turmoil/CodePaste/issues/new"><b>issue</b></a>
                        and I will add it for you! 😘
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr class="doc-hr" id="more-anchor" />
    <div class="doc-chapter" id="latest"></div>
    <div class="doc-chapter hidden" id="previous"></div>
    <div id="expand-more" class="expand">Show more<i class="fa-solid fa-angles-down fa-bounce"></i></div>
    <div id="expand-less" class="expand hidden">Show less<i class="fa-solid fa-angles-up fa-bounce"></i></div>
</div>