<div class="doc-wrapper doc-align-center">
    <div class="doc-chapter">
        <h1>Why Code Paste?</h1>
        <div class="doc-section">
            <div class="doc-entry">
                <div class="doc-text doc-align-justify">
                    <p class="doc-indent">If you want to add code snippets to your Office document like Word or
                        PowerPoint, you'll probably find it hard to preserve the original format, especially the
                        highlight.😢What's more, the common dark theme of the IDE is not suitable for
                        presentation. Although you can convert code into image, but the background and size...😖
                    </p>
                    <p class="doc-indent">So is there any way to create highlighted code snippets for these
                        documents?🤔The answer is - <b>YES</b>! And this is why Code Paste is here to
                        help.😆Just copy and paste your code to the left panel, and select the desired language,
                        you will then get a well highlighted code snippet with one more click.</p>
                    <p class="doc-indent">You may wonder, why "Code Paste"?😕Well, as you know, "paste" can
                        be both a verb and a noun.😏</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="doc-hr" />
    <div class="doc-chapter" id="latest"></div>
    <div class="doc-chapter hidden" id="previous"></div>
    <div id="expand-more" class="expand">Show more<i class="fa-solid fa-angles-down fa-bounce"></i></div>
    <div id="expand-less" class="expand hidden">Show less<i class="fa-solid fa-angles-up fa-bounce"></i></div>
</div>