<div class="wrapper">
    <div class="panel input animate__animated animate__fadeInLeft">
        <div class="code">
            <textarea name="source" id="source" placeholder="Paste your code here..." autocomplete="off"
                spellcheck="false" autocorrect="off" autocapitalize="off"></textarea>
        </div>
    </div>
    <div class="action-wrapper">
        <div id="convert" class="action animate__animated animate__flipInY" title="Make code paste">
            <i class="fa-solid fa-arrows-rotate"></i>
        </div>
        <div id="copy" class="action animate__animated animate__flipInY" title="Copy code paste">
            <i class="fa-regular fa-clipboard"></i>
        </div>
        <div id="erase" class="action animate__animated animate__flipInY" title="Clear code paste">
            <i class="fa-solid fa-eraser"></i>
        </div>
        <div id="random" class="action animate__animated animate__flipInY" title="Get random example">
            <i class="fa-solid fa-shuffle"></i>
        </div>
        <div id="coffee" class="action animate__animated animate__flipInY" title="Buy me a coffee">
            <i class="fa-solid fa-yen-sign"></i>
        </div>
    </div>
    <div class="panel output animate__animated animate__fadeInRight">
        <div class="cover">
            <p><b>Step 1</b><br />Select the language of your code 🧐</p>
            <p><b>Step 2</b><br />Paste your code to the input panel 🤨</p>
            <p><b>Step 3</b><br />Click the circle with arrow to make yummy code paste 😋</p>
            <p><b>Step 4</b><br />Change the color scheme to meet your taste 😆</p>
            <p><b>Step 5</b><br />Click the clipboard-like button to copy the code 😁</p>
            <p><b>Step 6</b><br />Paste the code to your document and be professional! 😍</p>
        </div>
        <div class="code">
            <pre id="pre"><code id="code" class="language-c"></code></pre>
        </div>
    </div>
</div>